<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.6.0/echarts.min.js"></script>
</head>
<body>
    <div id="maintest" style="width: 600px;height:400px;"></div>

    <script type="text/javascript">
        $(function () {
            // 新建数组来接受数据
            var wname = [];
            var nums = [];

            //AJAX接收数据主体
            $.ajax({
                type:"GET",
                url:"/hello",
                dataType:"json",
                timeout:"1000",
                async:false,
                success:function (result) {
                    for (var i = 0; i < result.length; i++){
                        wname.push(result[i].weaponKindName);
                        nums.push(result[i].weaponKindId);
                    }
                },
                error :function(errorMsg) {
                    alert("获取后台数据失败！");
                }
            });

            setInterval(function () {
                $.ajax({
                    type:"GET",
                    url:"/hello",
                    dataType:"json",
                    timeout:"1000",
                    async:false,
                    success:function (result) {
                        var oldNums = nums;
                        wname = [];
                        nums = [];
                        for (var i = 0; i < result.length; i++){
                            wname.push(result[i].weaponKindName);
                            nums.push(result[i].weaponKindId);
                        }

                        if (oldNums.toString() !== nums.toString()) {
                            myChart.dispose();
                            $("#maintest").html("");
                            myChart = echarts.init(document.getElementById('maintest'));
                            chartNums = dataOption(wname, nums);
                            myChart.setOption(chartNums);
                        }
                    },
                    error :function(errorMsg) {
                        alert("获取后台数据失败！");
                    }
                });
            }, 2000)

            // 指定图表的配置项和数据
            function dataOption(names, wnums) {
                return{
                    title: {
                        text: 'Demo'
                    },
                    legend: {
                        data: ['数量']
                    },
                    xAxis: {
                        data: names
                    },
                    yAxis: {},
                    series: [{
                        name: '数量',
                        type: 'bar',
                        data: wnums
                    }]
                };
            }

            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('maintest'));
            var chartNums = dataOption(wname, nums);
            myChart.setOption(chartNums);
        })
    </script>
</body>
</html>