<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/all" method="POST">
        <table>
            <tbody>
            <tr>
                <td>
                    id:
                </td>
                <td>
                    <input name="id" type="text"/>
                </td>
            </tr>
            <tr>
                <td>
                    password:
                </td>
                <td>
                    <input name="pwd" type="text"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="login">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</body>
</html>